.transactionHistory {
  width: 500px;
  text-align: center;
  color: rgb(0, 0, 0);
  margin: 0 auto;
  margin-top: 30px;
}

.transactionHistory thead {
  background-color: #000000;
  color: #fff;
}

.transactionHistory td,
.transactionHistory th {
  padding-top: 20px;
  padding-bottom: 20px;
}

.transactionHistory tr:nth-child(2n) {
  background-color: #ecf1f3;
}
